<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="city.happening.happening">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:required="true"
        android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_CALENDAR"/>
        <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
                android:name="city.happening.happening.permission.C2D_MESSAGE" />
    <uses-permission android:name="city.happening.happening.permission.C2D_MESSAGE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme2"
                 android:name=".LargeContainer.HappeningApplication"
                 android:screenOrientation="portrait"
        >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBt24yuyu_SpdLg9YxyFhDt-bXCT-yZr6A" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.usebutton.applicationid" android:value="app-070dce57d47ec28b"/>
        <activity android:name=".WebActivity"/>
        <activity android:name=".SettingsNonDialog"/>
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".InterestedActivity"/>
        <activity android:name=".CalendarUseQuestion"
                  android:label="Calendar thing"/>

        <activity android:name=".LargeContainer.MyTabActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">


            </activity>

        <activity android:name=".Profile.ProfileActivity"
                  android:label="@string/app_name">

        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="Settings"
                  android:theme="@android:style/Theme.Holo.Dialog"

                  >

        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/app_name" >
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <activity android:name=".CitySelector"/>

        <receiver android:name=".Cards.LocationReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="city.happening.happening.Cards.ACTION_LOCATION"/>
            </intent-filter>
        </receiver>

        <service android:name="com.parse.PushService" />
        <receiver android:name=".CustomParseBroadcastReciever"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN"/>

            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="city.happening.happening" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
